* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Playfair Display', serif;
    background-color: #1b1c1e;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff80;
    font: 14px 'Roboto', sans-serif;
}


p {
    color: #ffffff80;
    font: 14px 'Roboto', sans-serif;
}
h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}
h3, h2 {
    color: #fff;
    font: 50px 'Playfair Display', serif;
    font-weight: 700;
}
h4{
    color: #fff;
    font: 20px 'Playfair Display', serif;
    font-weight: 700;
}
.h3{
    font: 16px 'Roboto', sans-serif;
    color: #fff;
}

.container-fluid {
    height: 100vh;
    width: 100vw;
    background-image: url(image/hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
#header{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 2;
}
nav{
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    z-index: 9;
    box-sizing: border-box;
   
}
#head_cont{
    height: 100%;
    width: 100%;
    align-items: center;
}



.navbar h1 {
    font-size: 24px;
    font-weight: 800;
}
.navbar a {
    color: #ffffffb3;
    font: 14px 'Roboto', sans-serif;
}
#a_active{
    color: #fff;
}
.navbar a:hover{
    color: white;
}
.navbar .call{
    color: #fff;
}
.navbar .call:hover , .hd:hover{
    cursor: pointer;
}



#btn{
    color: #fff;
    background-color: #037ef3;
    padding: 15px 30px;
    border-radius: 4px;
    border-color: none;
    font: 14px 'Roboto', sans-serif;
    padding-right: 50px;
    position: relative;
}
#btn_1{
    color: #fff;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 4px;
    border: 2px solid #fff;
    font: 14px 'Roboto', sans-serif;
    padding-right: 50px;
    position: relative;
}



.sec-about-me{
    position: relative;
    background-color: #1b1c1e;
    width: 100%;
    padding: 7rem 0px;

}
.section{
    background-color: #1f2022;
}


